<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Family Photos</title>
</head>

<body>
  <h1>What do you need advice on?</h1>

  <ul>

    <li><a href="/throwbackphotos/1">Fotos viejas del ano pedo!</a></li>
    <li><a href="/fotos de cumpleanos/2">Fotos de cumpleanos!</a></li>

  </ul>

</body>

</html>
